  
  .movie {
    transition: all .5s ease;
    break-inside: avoid-column;
    margin-bottom: 20px;
    transform: translateY(50px);
    opacity: 0;
    animation: .5s slideUp ease forwards;
  }

  @for $i from 1 through 20 {
    .movie {
      &:nth-child(#{$i}) {
        animation-delay: $i * (1s/ 25)
      }
    }
  }
  
@keyframes slideUp {
    100% { transform: translateY(0); opacity: 1; }
}

  .movie:hover {
    transform: scale(1.003);
  }
  
  .sm-arrow {
    padding-left: 5px;
  }
  
  .movie-list-view {
    width: 90%;
    margin: auto;
    columns: 220px;
    column-gap: 20px;
    animation: fadeIn 1s ease-in;
  }
  
  .movie-list-view:after {
    content: '';
    display: block;
    width: 100%;
    height: 20px;
    margin-top: -20px;
  }

  .about-movie {
    font-size: 1.3em;
    line-height: 100%;
    transition: all .7s ease; 
    padding: 20px 0px;
  }
  
  .movie-title {
    padding-bottom: 5px;
    font-size: 1em;
    line-height: 120%;
  }
  
  .movie-overview {
    font-size: .8em;
    padding: 10px 0;
  }
  
  .movie-content {
    padding: 10px;
    background: #161616;
    box-shadow: 1px 3px 6px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .movie-img {
    width: 100%;
    object-fit: cover;
  }
  
  .movie-link {
    display: flex;
    color: var(--secondary-color);
    text-decoration: none;
    padding: 20px;
    background: var(--primary-color);
    width: 100%;
    align-self: flex-end;
    justify-self: flex-end;
  }
  

  /* --------------------------
      MEDIA QUERIES
  -------------------------- */
  
  @media (max-width: 500px) {   

    .movie:hover {
      transform: scale(1);
    }
  
    .movie {
      margin: 10px auto;
      width: 90%;
    }

    .movie-img {
      object-fit: contain;
      background: #2222;
      height: 300px;
      box-shadow: 1px 3px 3px rgba(0,0,0,0.5);
    }
  }