  .movie-list-view {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    gap: 20px;
    animation: fadeIn 1s ease-in;
  }
  
  .movie-list-view:after {
    content: '';
    display: block;
    width: 100%;
    height: 20px;
    margin-top: -20px;
  }
  
  .movie {
    transition: all .5s ease;
    margin-bottom: 20px;
    transform: translateY(50px);
    opacity: 0;
    animation: .5s slideUp ease forwards;
    padding: 10px;
    background: #161616;
    box-shadow: 1px 3px 6px rgba(0,0,0,0.5);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }

  .movie:hover {
    transform: scale(1.003);
  }
  
  .sm-arrow {
    padding-left: 5px;
    padding-top: 2px;
  }

  .about-movie {
    font-size: 1.3em;
    line-height: 100%;
    transition: all .7s ease; 
    padding: 10px 0px;
    width: 100%;

    h5 {
      padding: 10px 0 5px 0;
    } 
  }
  
  .movie-title {
    padding-bottom: 5px;
    font-size: 1em;
    line-height: 120%;
    font-weight: 400;
  }
  
  .movie-overview {
    font-size: .8em;
    line-height: 25px;
  }
  
  .movie-img {
    width: 100%;
    object-fit: cover;
  }
  
  .movie-link {
    display: flex;
    color: var(--secondary-color);
    text-decoration: none;
    padding: 20px;
    background: var(--primary-color);
    width: 100%;

    .fas {
      transition: all .5s ease;
    }

    &:hover {
      .fas {
        margin-left: 5px;
      }
    }
  }
  
  @for $i from 1 through 20 {
    .movie {
      &:nth-child(#{$i}) {
        animation-delay: $i * (1s/ 25)
      }
    }
  }
  
@keyframes slideUp {
    100% { transform: translateY(0); opacity: 1; }
}

  /* --------------------------
      MEDIA QUERIES
  -------------------------- */
  @media (max-width: 500px) {   
    .movie:hover {
      transform: scale(1);
    }
  
    .movie {
      margin: 10px auto;
      height: auto;
      padding: 0;
    }

    .movie-img {
      object-fit: contain;
      background: #2222;
    }

    h5,
    .movie-overview,
    .movie-link,
    .dv-star-rating, 
    .dv-star-rating span, 
    .zero-rating {
      display: none;
    }

    .movie-link, h5{
      display: none;
    }

    .movie-list-view {
      grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    }

    .about-movie {
      padding: 5px;
      padding-top: 5px;
    }

    .movie-title {
      font-size: 12px;
    }
  }