.hamburger-menu, 
  .open {
      height: 35px;
      width: 45px;
      top: 28px;
      display: none;
      justify-content: flex-end;
      transition: all .5s ease;
      z-index: 500;
  }

  .hamburger-menu {
      &-top,
      &-middle,
      &-bottom {
          position: absolute;
          background: #fff;
          height: 2px;
          transition: all .3s ease;
          display: none;
      }
    }

    .open {
        &-top,
        &-middle,
        &-bottom {
            position: absolute;
            background: #fff;
            height: 2px;
            transition: all .3s ease;
            display: none;
        }
    }

    .hamburger-menu {
    position: absolute;
      &-top {
          top: 0;
          width: 80%;
      }
      &-middle {
          top: 50%;
          transform: translatey(-50%);
          width: 100%;
      }
      &-bottom {
          bottom: 0;
          width: 95%;
      }
  }
  .open {  
    position: absolute;     
      &-top {
          top: 50%;
          width: 100%;
          transform: rotate(-45deg) translateY(-50%);
      }
      &-middle {
          opacity: 0;
      }
      &-bottom {
          top: 50%;
          width: 100%;
          transform: rotate(45deg) translateY(-50%);
      }
  }

  @media (max-width: 900px) { 

    .hamburger-menu, 
    .open {
        width: 40px;
        height: 30px;
        right: 30px;
        display: flex;
    }
    .hamburger-menu, 
    .open {
        &-top,
        &-middle,
        &-bottom {
            display: block;
        }
      }
  }