.genres-btn {
    background: #161616;
    border: 1px solid white;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    outline: none;
    margin-left: 50px;
    position: relative;

    &:hover {
        border: 1px solid var(--primary-color);
        color: var(--primary-color);
    }
}

@media (max-width: 900px) { 
    .genres-btn {
        display: none;
    }
}