
  .about-movie {
    font-size: 1.3em;
    line-height: 100%;
    transition: all .7s ease; 
    padding: 10px 0px;
    width: 100%;
    padding-bottom: 50px;
  }

  .movie-title {
    padding-bottom: 5px;
    font-size: 1em;
    line-height: 120%;
    font-weight: 400;
  }

  @media (max-width: 500px) {
    .about-movie {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column;
      margin-bottom: -20px;
  }
}