.movie-list-container {
    display: grid;
    grid-template-columns: 350px 1fr;
}

.movie-list {
    grid-column: 2/-1;
    margin-top: 50px;
}

.list-title {
    font-weight: 600;
    margin-left: 50px;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        width: 40px;
        height: 3px;
        background: #fff;
        left: -50px;
        top: 50%;
        transform: translateY(-50%)
    }
}

@media (max-width: 865px) {
    .movie-list {
        grid-column: 1/-1;
    }
}



