.movie-list-container {
    .video {
        position: fixed;
        bottom: -20%;
        left: 0;
        transform: translate(0, 0);
        height: 350px;
    }

    iframe {
        width: 450px;
    }
}

.list-title {
    font-weight: 600;
    margin-left: 50px;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        width: 40px;
        height: 3px;
        background: #fff;
        left: -50px;
        top: 50%;
        transform: translateY(-50%)
    }
}



