.dv-star-rating span {
    font-size: 18px;
}

.zero-rating {
    color: var(--primary-color);
    font-size: .8em;
}
  
.star {
    padding: 2px;
}

@media (max-width: 950px) { 
    .dv-star-rating span {
        font-size: 13px;
    }
}