.dv-star-rating span {
    font-size: 16px;
    padding: 1px;
}

.zero-rating {
    color: var(--primary-color);
    font-size: 17px;
    padding: 10px 0;
}

  /* --------------------------
      MEDIA QUERIES
  -------------------------- */

@media (max-width: 950px) { 
    .dv-star-rating span {
        font-size: 13px;
    }

    .zero-rating {
        color: var(--primary-color);
        font-size: 1em;
        padding-top: 10px;
    }
}

@media (max-width: 500px) {   
    .dv-star-rating span {
        font-size: 18px;
    }
}