  .genre-list-item, 
  .dropdown-genre-item {
    list-style-type: none;
  }

  .genre-list-item {
    display: flex;
    align-items: center;
  }
  .genre-icon {
    width: 30px;
    margin-right: 2px;
  }
  