.filter-menu {
    padding: 20px;
    background: #161616;
    margin: 50px 0px 20px 0px;
    height: 100vh;
    box-shadow: 0px 3px 6px rgba(18, 18, 18, .3);
    border-radius: 0px 20px 20px 0px;
    transform: translateX(-500px);
    opacity: 0;
    animation: .5s slideIn ease forwards;
    z-index: 500;
    position: sticky;
    top: 0;

    .filter_video iframe{
        transform: translateX(-500px);
        opacity: 0; 
        position: absolute;
        width: 300px;
        bottom: 90px;
        animation: .5s slideIn ease forwards;
    }

    .search_form {
        position: absolute;
        bottom: 20px;
        right: 20px;
        margin-top: 50px;
    }

    h3 {
        border-bottom: 1px solid var(--light-color);
        padding: 10px 0;
        font-size: 24px;
    }

    h4 {
        padding: 20px 0;
        font-size: 22px;
        font-weight: 200;
        background: #161616;
        z-index: 500;

    }

    .dropdown {
        display: flex;
        flex-direction: column;
        background: #161616;
        position: relative;

        &-list {
            list-style-type: none;
            height: 900px;
            width: 100%;
            z-index: 50;
            bottom: -100px;

            li {
            padding: 10px;
            font-size: 19px;
            font-weight: 300;
            cursor: pointer;
            background: #161616;

            &:hover {
                background: #232323;
            }
        }
        }
    }

    .active-block {
        background: var(--primary-color);
        color: #191919;
        font-size: 19px;
        border-radius: 5px;
        padding: 10px;
        box-shadow: 0px 3px 3px rgba(18, 18, 18, .3);
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        z-index: 1000;
        cursor: pointer;

        span {
            font-size: 15px;
        }
    }
}

.list-title {
    font-size: 30px;
    text-align: left;
    padding: 20px 0;
}


@media (max-width: 865px) {
    .filter-menu {
        grid-column: 1/-1;
        margin: auto;
        width: 90% !important;
        position: static;
        height: auto;
        border-radius: 0;
        padding-bottom: 80px;
        box-shadow: 0px -12px -10px rgba(18, 18, 18, .9);
        
        iframe {
            display: none;
        }

        .filter-title {
            display: none;
        }
    }
}

@media (max-width: 500px) {
    .filter-menu {
        width: 100%;
    }
}