header h1 {
    font-size: 3.5em;
    text-align: center;
    line-height: 100%;
  }
  
  .slogan {
    color: var(--primary-color);
    font-size: 1.1em;
  }
  
  .main-header {
    margin-bottom: 50px;
    position: relative;
    animation: fadeIn .5s ease-in;
    min-height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .main-header p {
    font-size: 22px;
    padding: 10px;
    text-align: center;
  }
  
  .movie-header-img {
    width: 100%;
    height: 85vh;
    object-fit: cover;
    border: none;
  }
  
  .header-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bg-overlay);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  

  /* --------------------------
      MEDIA QUERIES
  -------------------------- */

  @media (max-width: 950px) { 
    header h1 {
      font-size: 40px;
      padding: 0px 20px;
    }
  }


@media (max-width: 650px) { 
  header h1 {
    font-size: 30px;
  }
  
  .main-header p {
    font-size: 19px;
  }
}