.nav {
  height: 85px;
  width: 100%;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 13px 6px rgba(19, 19, 19, .2);
  transition: all .5s ease;
  z-index: 100;
  
  .left-nav {
    display: flex;
  }

  .fa-search {
    font-size: 23px;
    padding-left: 10px;
    cursor: pointer;
  }

  .logo {
      padding-left: 30px;
      color: #fff;
      font-size: 30px;
      color: var(--primary-color);
      font-weight: 400;
      z-index: 50000;

      @media (max-width: 550px) { 
          font-size: 23px;
      }
  }

  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
}

@media (max-width: 900px) { 
  .nav {
    padding: 0;

    .logo {
      padding-left: 20px;
    }

    .fa-search {
      display: none;
    }
}
}