.play-button-space-holder {
  width: 100%;
  min-height: 10px;

  .play-button {
    color: var(--primary-color);
    padding: 10px 0;
    z-index: 1000;
    cursor: pointer;
  
      .fas {
        padding-right: 5px;
        font-size: 15px;
        color: var(--primary-color);
      }
    }
}