.movie {
    transition: all .5s ease;
    transform: translateY(50px);
    opacity: 0;
    animation: .5s slideUp ease forwards;
    padding: 10px;
    background: #161616;
    box-shadow: 1px 3px 6px rgba(0,0,0,0.5);
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;

    &:hover {
        transform: scale(1.003);
    }
  }

  @for $i from 1 through 20 {
    .movie {
      &:nth-child(#{$i}) {
        animation-delay: $i * (1s/ 25);
      }
    }
  }

  @media (max-width: 500px) {   
    .movie:hover {
      transform: scale(1);
    }
  
    .movie {
      margin: 5px auto;
      height: auto;
      padding-bottom: 16px;
      justify-content: start;

      h5,
      .movie-overview,
      .movie-link,
      .dv-star-rating, 
      .dv-star-rating span, 
      .zero-rating {
        display: none;
      }

      .year-date {
        display: block;
        padding: 0;
        font-size: 13px;
        position: absolute;
        bottom: 5px;
      }    

      .movie-link, h5{
        display: none;
      }

      img {
        height: 150px;
      }

      .about-movie {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        margin-bottom: -20px;
        padding-top: 0;
      }
  
      .movie-title {
        font-size: 12px;
        padding: 10px 3px;
      }
    }
  }
