:root {
  --primary-color: #1DB3AE;
  --secondary-color: #191919;
  --accent-color: #202020;
  --light-color: #696969;
  --text-color: #f3f3f3;
  --shadow: 0 3px 6px -6px #000;
  --bg-overlay: rgba(19,19,19,0.7);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  max-width: 1600px;
  margin: auto;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--secondary-color);
  color: var(--text-color);
  overflow-x: hidden;
}

/* MOVIE LIST STYLES BEGIN */

h2 {
  font-size: 3.2em;
  text-align: center;
  padding: 20px;
}

.movie {
  transition: all .5s ease;
  max-width: 300px;
  break-inside: avoid-column;
  margin-bottom: 20px;
}

.movie:hover {
  transform: scale(1.003);
}

.sm-arrow {
  padding-left: 5px;
}

.movieListView {
  width: 90%;
  margin: auto;
  columns: 200px;
  column-gap: 20px;
  animation: fadeIn 1s ease-in;
}

.movieListView:after {
  content: '';
  display: block;
  width: 100%;
  height: 20px;
  margin-top: -20px;
}

.listTitle {
  font-size: 3.5em;
  animation: fadeIn 1s ease-in;
  margin-top: 50px;
}

.about-movie {
  font-size: 1.3em;
  line-height: 100%;
  transition: all .7s ease; 
  padding: 20px 0px;
}

.movie-title {
  padding-bottom: 5px;
  font-size: 1em;
  line-height: 120%;
}

.movie-overview {
  font-size: .8em;
  padding: 10px 0;
}

.movie-content {
  padding: 10px;
  background: #161616;
  box-shadow: 1px 3px 6px rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movie-img {
  width: 100%;
}

.movie-link {
  display: flex;
  color: var(--secondary-color);
  text-decoration: none;
  padding: 20px;
  background: var(--primary-color);
  width: 100%;
  align-self: flex-end;
  justify-self: flex-end;
}

/* MOVIE LIST STYLES END */


/* ANIMATIONS */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* MEDIA QUERIES */
@media (max-width: 1200px) { 
  .movie-show-img {
    width: 100%;
  }

  .navbar {
    flex-wrap: wrap;
    margin: 0;
  }
  
  .navbar-nav {
    text-align: center;
    margin-top: 20px;
    padding: 30px 0;
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    background: #191919;
    box-shadow: 1px 3px 3px rgba(0,0,0,0.3);
  }
  
  .navbar-item {
    padding: 15px;
    font-size: 18px;
  }

  .navbar-item a {
    transition: all .2s ease;
  }

  .navbar-item a:hover {
    color: #333;
  }

  .navbar-brand {
    padding: 0;
  }
  
  .hamburger_menu {
    display: block;
  }

  #show {
    transition: all .5s ease;
    display: block;
  }

}

@media (max-width: 950px) { 
  .dv-star-rating span {
    font-size: 13px;
  }
    
  header h1 {
    font-size: 40px;
    padding: 0px 20px;
  }

  .movie-show-img {
    height: 300px;
    object-fit: cover;
    width: 100%;
  }

  .movie-show {
    padding: 20px;
    grid-template-columns: 1fr;
    flex-wrap: wrap;
  }

  .movie-show-content p{
    font-size: 17px;
  }

  .genre-list-item {
    font-size: 18px;
  }

  .original-title {
    font-size: 35px;
  }

  .footer_info {
    grid-template-columns: 1fr;
  }

  .movieList {
    margin-left: 0;
  }

  h2 {
    font-size: 40px;
  }

  .fa-arrow-circle-down {
    display: none;
  }
}
@media (max-width: 650px) { 

.navbar-item {
  padding: 12px;
  font-size: 16px;
}

header h1 {
  font-size: 30px;
}

.main-header p {
  font-size: 19px;
}

.search_form {
  margin-top: 20px;
}

.see-more {
  margin-right: 30px;
}

.movie:hover {
  transform: scale(1);
}

.movie-show {
  width: 98%;
}

.movie-show-content {
  padding: 20px 0;
}

.listTitle {
  font-size: 40px;
}

.movie {
  margin: 10px auto;
}
}