:root {
  --primary-color: #1DB3AE;
  --secondary-color: #191919;
  --accent-color: #202020;
  --light-color: #696969;
  --text-color: #f3f3f3;
  --shadow: 0 3px 6px -6px #000;
  --bg-overlay: rgba(19,19,19,0.9);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  max-width: 1600px;
  margin: auto;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--secondary-color);
  color: var(--text-color);
  overflow-x: hidden;
}

/* NAVIGATION STYLES BEGIN */

.hamburger_menu {
  position: absolute;
  right: 50px;
  top: 40px;
  font-size: 30px;
  display: none;
}
.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 40px 30px 30px 30px;
  box-shadow: var(--shadow);
  position: relative;
}

.navbar-brand {
  font-size: 2em;
  color: var(--primary-color);
  padding-left: 20px;
  width: 500px;
}

.navbar-nav {
  width: 100%;
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

a.nav-link.active {
  color:var(--light-color);
}

.navbar-item a{
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.3em;
  padding: 0px 20px;
  text-transform: uppercase;
}

/* NAVGIATION STYLES END */
/* HEADER STYLES BEGIN */

h1 {
  font-size: 4em;
  text-align: center;
}

.slogan {
  color: var(--primary-color);
  font-size: 1.1em;
}

.main-header {
  margin-bottom: 50px;
  position: relative;
  animation: fadeIn .5s ease-in;
}

a .fa-arrow-circle-down {
  font-size: 4em;
  opacity: .5;
  position: absolute;
  bottom: 20px;
  animation: pulsing 2.5s infinite;
  color: var(--text-color);
}

.movie-header-img {
  width: 100%;
  height: 85vh;
  object-fit: cover;
  border: none;
}

.header-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg-overlay);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* HEADER STYLES END /
/* MOVIE LIST STYLES BEGIN */

 h2{
  margin-top: 50px;
}
h2 {
  font-size: 3.2em;
  text-align: center;
  padding: 20px;
}

.movieList {
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
  padding: 20px 0px 40px 0px;
  margin-left: 50px;
  position: relative;
}

.movie {
  margin: 20px;
}

.all-movies {
  position: relative;
}

.now-playing, 
.top-rated, 
.popular {
  position: relative;
}

.left_arrow {
  position: absolute;
  height: 100%;
  width: 100px;
  background-color: var(--secondary-color);
  right: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  opacity: .9;
}

.sm-arrow {
  padding-left: 5px;
}

.movieList::-webkit-scrollbar {
  display: none;
}

.see-more {
  height: 100%;
  width: 300px;
  margin-right: 100px ;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--accent-color);
  margin-top: 20px;
  color: var(--light-color);
}

.fa-plus {
  margin-top: -15px;
  font-size: 30px;
}

.see-more h2 {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: normal;
}

.movieListView {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  animation: fadeIn 1s ease-in;
  min-height: 100vh;
  padding-right: 20px;
}

.listTitle {
  font-size: 3.5em;
  animation: fadeIn 1s ease-in;
  margin-top: 50px;
}

.about-movie {
  font-size: 1.3em;
  line-height: 100%;
  transition: all .7s ease; 
  padding: 20px 0px;
}

.about-movie-home {
  font-size: 1.3em;
  line-height: 100%;
  transition: all .7s ease; 
  background-color: var(--bg-overlay);
  position: absolute;
  bottom: 0;
  width: 302px;
  padding: 20px;
}

.movie-title {
  padding-bottom: 5px;
  font-size: 1.2em;
  line-height: 120%;
}

.movie-overview {
  font-size: .8em;
  padding: 10px 0;
}

.movie-content {
  padding: 10px;
}

.star {
  padding: 2px;
}

.far {
  color: var(--light-color) !important;
}

.movie-link {
  color: var(--light-color);
  text-decoration: none;
}

.movie-img{
  box-shadow: var(--shadow);
  border: 1px solid var(--accent-color);
  transition: all .5s ease;  
}

.movie-img-home {
  box-shadow: var(--shadow);
  border: 1px solid var(--accent-color);
  transition: all .5s ease; 
  position: relative; 
}

.movie-img:hover {
  animation: .5s scaleUp ease-in-out forwards;

}

.avgRate {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.avgRateNum {
  font-size: 2em;
}

.zero-rating {
  color: var(--primary-color);
  font-size: .8em;
}


li.pageLinks.active {
  background-color: var(--primary-color);
}

/* MOVIE LIST STYLES END */
/* INDIVIDUAL MOVIE STYLES BEGIN */

.movie-show {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  padding: 50px 100px 50px 100px;
  min-height: 70vh;
  gap: 40px;
}

.movie-show-img {
  animation: .6s slideInFromLeft ease, 2s fadeIn ease;
  box-shadow: var(--shadow);
}

.movie-show-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  animation: .6s slideInFromRight ease, 2s fadeIn ease;
}

.avgRate {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #181818;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: 450px;
  top: 40%;
  border: 1px solid var(--primary-color);
  animation: slideInFromLeft .3s ease-in forwards;
}

.movie-show-overview {
  line-height: 150%;
  margin: 10px 0px;
  font-size: 1.2em;
  font-weight: 300;
}

button {
  color: var(--text-color);
  font-size: 1.1em;
  outline: none;
  margin-right: 10px;
  padding: 12px 20px;
  border-radius: 50px;
  background: transparent;
}

.similarBtn {
  border: 2px solid #B34863;
  font-size: 1.1em;
  outline: none;
  padding: 12px 20px;
  border-radius: 50px;
  background: transparent;
}

.website-link-div {
  margin-top: 20px;
}

i.fas.fa-tv::before {
  color: #B34863;
  font-size: 1em;
  margin-left: 2px;
}

.fa-heart {
  animation: pulsing 2.5s infinite;

}
.fa-link {
  color: var(--primary-color);
  font-size: 1.2em;
  margin-left: 2px;
}

.webLink {
  border: 2px solid var(--primary-color);
}

.original-title {
  font-weight: 300;
  font-size: 3em;
  color: var(--primary-color);
  line-height: 100%;
}

.genre-list-item {
  list-style-type: none;
  font-weight: 200;
  font-size: 1.5em;
  display: inline;
  padding-right: 3px;
}

.genre-icon {
  width: 30px;
  margin-bottom: -5px;
}
.genre-list {
  margin: 10px 0px;
}
.rating-star {
  font-size: 1.9em;
  animation: pulsing 2.5s infinite;
}

.avgRateNum {
  font-size: 2em;
}

.pagination {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  margin: 50px 0px 100px 0px;
  justify-content: center;
}

.pageLinks {
  margin: 5px;
  padding: 10px;
  background-color: #333;
}

.errorMsg {
  margin-bottom: 200px;
  font-size: 40px;
}

.err {
  position: relative;
}
.err a {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}

/* INDIVIDUAL MOVIE STYLES ENDS */
/* FOOTER STYLES BEGIN*/

.footer {
  background-color: var(--secondary-color);
  color: var(--text-color);
  position: relative;
  z-index: 10;
  margin-top: 50px;
}
.footer_info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  background-color: var(--primary-color);
}

.about {
  padding: 50px;
}

.about p {
  line-height: 140%;
}
.contact {
  margin: 50px;
}
.contact_list {
  display: flex;
}
.contact_list_item {
  background-color:#333;
  margin: 20px 10px 0px 0px;
  width: 45px;
  font-size: 20px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signUp {
  margin: 50px;
}

footer h4 {
  font-size: 26px;
  color: #333333;
  text-transform: uppercase;
}

.signUpForm, .submit {
  border: none;
  height: 45px;
  margin-top: 20px;
  font-size: 16px;
}

.signUpForm {
  padding: 0px 40px 0px 12px;
}
.submit {
  background-color: #333333;
  text-transform: uppercase;
  padding: 0px 20px;
  outline: none;
  color: #ffffff;
}

.signUpForm:focus {
  outline: 3px solid var(--light-color);
}

.icons8 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding:60px 0px 40px 0px;
}

.similar h6 {
  text-align: center;
  font-size: 20px;
  padding-bottom: 150px;
}

/* FOOTER STYLES ENDS*/
/* ANIMATIONS */

@keyframes slideInFromLeft {
  0%{
    opacity: 0;
    transform: translateX(-600px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes slideInFromRight {
  0%{
    opacity: 0;
    transform: translateX(600px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.005);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pulsing {
  0%
  {
    transform: scale( .95 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .95 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( .95 );
  }
  100%
  {
    transform: scale( .95 );
  }
}


/* MEDIA QUERIES */

@media (max-width: 950px) { 
  .navbar {
    flex-wrap: wrap;
  }
  
  .navbar-nav {
    text-align: center;
    margin-top: 20px;
    display: none;
    padding: 30px 0;
  }
  
  .navbar-item {
    padding: 15px;
    font-size: 23px;
  }

  .navbar-brand {
    padding: 0;
  }
  
  .hamburger_menu {
    display: block;
  }
    
  header h1 {
    font-size: 40px;
    padding: 0px 20px;
  }

  .movie-show-img {
    margin: 0px auto 20px auto;
  }

  .movie-show {
    padding: 20px;
    grid-template-columns: 1fr;
  }

  .movie-show-content p{
    font-size: 17px;
  }

  .genre-list-item {
    font-size: 18px;
  }

  .original-title {
    font-size: 35px;
  }

  .footer_info {
    grid-template-columns: 1fr;
  }

  .movieList {
    margin-left: 0;
  }

  .movieListView {
    padding-left: 20px;
  }
  h2 {
    font-size: 40px;
  }

  #show {
    transition: all .5s ease;
    display: block;
  }

  .fa-arrow-circle-down {
    display: none;
  }
}

@media (max-width: 550px) { 

.now-playing::before,
.top-rated::before,
.popular::before {
  display: none;
}

.see-more {
  margin-right: 30px;
}

.movie-show-img {
  width: 200px;
}

.listTitle {
  font-size: 40px;
}
}