.nav-link {
    font-size: 20px;
    padding: 12px;

    &:hover {
        color: var(--primary-color);
    }
}

.fa-heart {
    color: #F85195;
    transition: all .3s ease;
    font-size: 1.5em;
    margin: 0 10px;

    @media (max-width: 900px) { 
        margin-right: 70px;
    }

    &:hover {
        transform: scale(1.1);
    }
}